* {
  box-sizing: border-box;
}

#sbody {
  background-image: url(assets/chinook.jpg);
}

header {
  background: #727272;
  font-family: 'Martel', serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

header img {
  width: 60%;
}

.h {
  font-family: Avenir, serif;
  color: #FF8B31;
}

.p {
  font-family: 'Helvetica', sans-serif;
  color: grey;
}

#imain {
  position: relative;
  float: left;
  width: 75%;
}

aside {
  width: 24%;
  border: solid;
  border-color: #FF8b31;
  float: right;
}

footer {
  text-align: center;
  height: 300px;
  bottom: 0px;
  margin-top: 90%
}

footer div {
  border: solid;
  border-color: #FF8B31;
}

#main {
  text-align: -webkit-center;
  font-family: 'courier', monospace;
  color: #002A2A
}

.leftImg {
  position: relative;
  display: inline;
  float: right;
  height: 275px;
}

.rightImg {
  position: relative;
  display: inline;
  float: left;
  height: 275px;
}

footer li {
  list-style: none;
}

td {
  color: white;
  background: #727272;
  border: solid;
  border-color: #FF8B31;
}

input {
  display: block;
}

form {
  padding: 10px;
  background: #727272;
  border: solid;
  border-color: #FF8B31;
  width: 190px;
}

.cut {
  height: 300px;
}

#back {
  position: fixed;
  z-index: -1;
  opacity: 0.4;
  width: 200%;
}
